<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\MobileExample.Android\packages.config" />
  <repository path="..\src\MobileExample.iOS\packages.config" />
  <repository path="..\src\MobileExample.Windows\packages.config" />
  <repository path="..\src\MobileExample.WindowsPhone\packages.config" />
  <repository path="..\src\MobileExample\MobileExample.Windows\packages.config" />
  <repository path="..\src\MobileExample\MobileExample.WindowsPhone\packages.config" />
</repositories>